<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecp.scrum.sprintplanner.action.showSprintPlanner"
            name="Show Sprint Planner">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.scrum.sprintplanner.action.ShowSprintPlanner"
            commandId="org.eclipse.emf.ecp.scrum.sprintplanner.action.showSprintPlanner">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.emf.ecp.scrum.sprintplanner.view.SprintPlannerView"
            id="org.eclipse.emf.ecp.scrum.sprintplanner.action.SprintPlannerView"
            name="Sprint Planner View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.ecp.scrum.sprintplanner.objectContribution1"
            objectClass="org.eclipse.emf.ecp.Scrum.Sprint">
         <menu
               id="org.eclipse.emf.ecp.scrum.sprintplanner.menu1"
               label="Show Sprint Planner"
               path="additions">
            <separator
                  name="org.eclipse.emf.ecp.scrum.sprintplanner.separator1">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.ecp.scrum.sprintplanner.action.ShowSprintPlanner"
               id="org.eclipse.emf.ecp.scrum.sprintplanner.action.showSprintPlanner"
               label="Show Sprint Planner">
         </action>
      </objectContribution>
   </extension>

</plugin>
