<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.scrum.tasklist.objectContribution1"
            objectClass="org.eclipse.emf.ecp.Scrum.User">
         <menu
               id="org.eclipse.scrum.tasklist.menu1"
               label="User Tasks"
               path="additions">
            <separator
                  name="org.eclipse.scrum.tasklist.separator1">
            </separator>
         </menu>
         <action
               class="org.eclipse.scrum.tasklist.popup.actions.OpenTaskListViewAction"
               id="org.eclipse.scrum.tasklist.showUserTasks"
               label="Show User Tasks">
         </action>
      </objectContribution>
      
      <objectContribution
            id="org.eclipse.scrum.tasklist.objectContribution2"
            objectClass="org.eclipse.emf.ecp.Scrum.Task">
         <menu
               id="org.eclipse.scrum.tasklist.menu1"
               label="Burndown Chart"
               path="additions">
            <separator
                  name="org.eclipse.scrum.tasklist.separator2">
            </separator>
         </menu>
         <action
               class="org.eclipse.scrum.tasklist.popup.actions.OpenBurnDownChartViewAction"
               id="org.eclipse.scrum.tasklist.showBurnDownChart"
               label="Show Burndown Chart">
         </action>
      </objectContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.scrum.tasklist.popup.actions.TaskListView"
            icon="icons/application_view_tile.png"
            id="org.eclipse.scrum.tasklist.view"
            name="Task List"
            restorable="true">
      </view>
      <view
            class="org.eclipse.scrum.tasklist.popup.actions.View"
            id="org.eclipse.scrum.tasklist.reportview"
            name="Burndown Chart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.scrum.workbench.showstorypointshistory"
               label="Show Burn Down Chart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.Scrum.Sprint">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>s
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            id="org.eclipse.emf.ecp.scrum.workbench.showstorypointshistory"
            name="Show Burn Down Chart">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.scrum.workbench.ShowStoryPointsHistory"
            commandId="org.eclipse.emf.ecp.scrum.workbench.showstorypointshistory">
      </handler>
   </extension>


</plugin>
