<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.scrum.tasklist.objectContribution1"
            objectClass="org.eclipse.emf.ecp.Scrum.User">
         <menu
               id="org.eclipse.scrum.tasklist.menu1"
               label="User Tasks"
               path="additions">
            <separator
                  name="org.eclipse.scrum.tasklist.separator1">
            </separator>
         </menu>
         <action
               class="org.eclipse.scrum.tasklist.popup.actions.OpenTaskListViewAction"
               id="org.eclipse.scrum.tasklist.showUserTasks"
               label="Show User Tasks">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.scrum.tasklist.popup.actions.TaskListView"
            id="org.eclipse.scrum.tasklist.view"
            name="Tasklist viewer"
            restorable="true">
      </view>
   </extension>


</plugin>
