<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.eclipse.emf.ecp.scrum.workbench.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="org.eclipse.emf.ecp.scrum.workbench.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.eclipse.emf.ecp.scrum.workbench.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.scrum.workbench.showTaskBoard"
               label="Show Task Board"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecp.Scrum.Sprint">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecp.scrum.workbench.showTaskBoard"
            name="Show Task Board">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.scrum.workbench.ShowTaskBoard"
            commandId="org.eclipse.emf.ecp.scrum.workbench.showTaskBoard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            id="org.eclipse.emf.ecp.scrum.workbench.showtaskdecorator"
            label="label">
         <enablement></enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecp.scrum.workbench.editor.ScrumGraphitiEditor"
            default="false"
            id="org.eclipse.emf.ecp.scrum.graphiti.editor"
            name="Graphiti Editor">
      </editor>
   </extension>
 
</plugin>
