<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.modelelementopener">
      <ModelElementOpener
            class="org.eclipse.emf.ecp.graphiti.ui.ModelElementOpener1"
            name="org.eclipse.emf.ecp.graphiti.ui.ModelElementOpener1">
      </ModelElementOpener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecp.graphiti.ui.GraphitiDiagramEditor"
            default="false"
            id="org.eclipse.emf.ecp.graphiti.ui.editor1"
            name="name">
      </editor>
   </extension>

</plugin>
